<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PhysioLink</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alerta">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> alerta
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cuenta">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> cuenta
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doctor">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> doctor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="medicion">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> medicion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="paciente">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> paciente
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registro">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> registro
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resetpassword">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> resetpassword
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usuario">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> usuario
            </NavLink>
        </div>
    </nav>
</div>
